.faq-text{
    color: #2c3552;
    font-size: 25px;
    text-align: center;
    transition: 2s;
}


.faq-background-color{
    background-color: #1aa6b7;
}

.faq-background-stripe {
    background: #f56a79;
    color: #dcd5d5;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    padding: 10rem 20%;
  }

.faq-button-format{
    background-color:#1aa6b7;
    border: none;
    color: 	black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: wavy; 
    display: inline-block;
    font-size: 16px;   
    transition: .5s;
    top: 50%;
    left: 50%;
    
}

.my-funciton{
    document.getElementById("panel").style.display= "block";
}